    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url('Images//forest-landscapes-lightroom-presets-different-looks-05.jpg');
        overflow: hidden;
    }
    
    .addsection {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
    }
    
    #input {
        border: none;
        outline: none;
        padding-left: 4px;
        height: 40px;
        width: 230px;
        font-size: 20px;
        border-radius: 5px;
        font-family: 'Poppins';
        margin-right: 20px;
    }
    
    #submit {
        height: 40px;
        width: 80px;
        outline: none;
        border-radius: 5px;
        border: 1px solid black;
        background-color: darkgray;
        font-weight: 900;
        font-size: medium;
        font-family: 'Sofia';
        cursor: pointer;
    }
    
    .todosection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .box {
        min-width: 220px;
        max-width: 1000px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        font-size: 20px;
        transform: translateX(-7%);
        justify-content: space-between;
        border-radius: 8px;
        z-index: -1;
    }
    
    .mainbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
        margin-top: 35px;
    }
    
    .check {
        float: right;
        width: 30px;
        height: 30px;
        padding-left: 5px;
        cursor: pointer;
        transform: translate(-290%, 100%);
    }
    
    .delete {
        float: right;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transform: translate(-310%, 100%);
    }
    .timer2 {
        float: right;
        width: 30px;
        height: 30px;
        padding-left: 5px;
        cursor: pointer;
        transform: translate(-270%, 100%);
        border-radius: 100px;
    }
    
    img {
        z-index: 0;
    }
    
    h1 {
        font-family: 'Sofia';
        text-align: center;
        font-size: 250%;
    }
    
    .done {
        transition: 0.5s all;
        background-color: gray;
        text-decoration: line-through;
    }
    
    .animation {
        animation: animat 0.6s ease-in;
    }
    
    #submit:hover {
        background-color: black;
        color: white;
    }
    
    @keyframes animat {
        25% {
            transform: translateY(-30%);
            opacity: 0.8;
        }
        100% {
            transform: translateY(3rem);
            opacity: 0;
        }
    }
    
    .imgmenu {
        width: 98%;
        justify-content: space-between;
        margin: 5px;
        cursor: pointer;
        display: flex;
        z-index: 5;
    }
    
    #Menu {
        padding: 5px;
        z-index: 4;
        width: 30px;
        height: 30px;
    }
    
    .menu_anime1 {
        animation: animate1 0.5s ease;
    }
    
    @keyframes animate1 {
        100% {
            transform: rotate(270deg)
        }
    }
    
    .landing {
        position: fixed;
        z-index: 2;
        height: 100vh;
        width: 100%;
        background-color: white;
        opacity: 0.8;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 30px;
        transform: translateY(-1%);
        font-family: 'Sofia';
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        transition: 1s all;
        overflow: scroll;
    }
    
    .landinganime {
        /* animation: land 1s ease; */
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1810px at 90% -10%);
        transition: 1s all;
    }
    
    span {
        font-size: 27px;
        margin: 20px;
        cursor: pointer;
    }
    
    .overlayer {
        transition: 0.9s all;
        display: none;
    }
    /*Mobile Changes*/
    
    @media only screen and (max-width: 700px) {
        h1 {
            clear: both;
            font-size: 28px;
            padding-left: 10px;
            margin-left: 10px;
        }
        span {
            font-size: 25px;
        }
        .landinganime {
            /* transform: translateY(-12%); */
        }
    }
    
    .property:hover {
        transition: 0.5s all;
        font-size: 28.5px;
        color: blue;
    }
    
    .property {
        font-size: 25px;
        transition: 0.5s all;
        color: rgb(57, 110, 128);
    }
    
    #audiobutton {
        width: 38px;
        height: 38px;
        padding: 5px;
        transform: translate(-1px, -3px);
    }
    
    portfolio {
        transition: 1s all;
        font-size: 24px;
        display: none;
    }
    
    credits {
        display: none;
        color: gray;
        font-size: 24px;
    }
    
    Notes {
        display: none;
    }
    
    Functions {
        display: none;
    }
    
    .credits {
        display: block;
        animation: port 0.3s ease-in-out;
    }
    
    .portfolio {
        display: block;
        animation: port 0.3s ease-in-out;
        color: gray;
    }
    
    @keyframes port {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
